.local/
*.pyc
**/__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
tests/fixtures/**/adapter-output.yaml
tests/fixtures/**/meta.yaml
tests/fixtures/**/remote-config.yaml
tests/fixtures/**/remote-executor-run.yaml
tests/fixtures/**/remote-executor.stdout.txt
tests/fixtures/**/remote-executor.stderr.txt
